footer {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 1em;
  padding-top: 2em;
}

footer::before {
  z-index: -1;
  content: "";
  position: absolute;
  top: 0;
  left: calc(50% - 50vw);
  height: 100%;
  width: 100vw;
  background-color: var(--highlight-color);
}

footer,
footer p {
  color: #fff;
}

footer .links img {
  filter: invert(1);
}

/* footer > img {
  transform: scale(calc((100vw)/(250%)));
} */
