header img {
  border-radius: 4px;
  box-shadow:
    0 1px 3px 0 rgba(0, 0, 0, 0.1),
    0 1px 2px -1px rgba(0, 0, 0, 0.1);
}

.portrait {
  margin: 0 1em;
  outline: 1px solid #666;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    filter: brightness(0.8);
  }

  h1 {
    font-size: 51px;
    font-weight: 200;
    text-align: left;
    margin: 0.2em 0.3em;
    text-shadow:
      3px 2px 2px rgba(0, 0, 0, 0.2),
      3px 2px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}

header h2 {
  font-size: 2em;
  text-align: center;
  margin: 0.7em 0 0.5em;
}

header p {
  text-align: left;
}

.links {
  margin-top: 1em;
  display: flex;
  justify-content: center;
  gap: 1em;
  img {
    width: 24px;
  }
}
