.portrait {
  margin: 0 1em;
  /* display: flex; */
  /* flex-direction: column; */
  /* align-items: center; */
  /* max-width: calc(230px + 20vw); */

  position: relative;

  img {
    filter: brightness(0.8);
    box-shadow: var(--base-shadow);
  }

  h1 {
    position: absolute;
    font-size: clamp(2.5rem, 2.777vw + 26.666px, 3rem);
    text-align: left;
    text-shadow:
      3px 2px 2px rgba(0, 0, 0, 0.2),
      3px 2px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    bottom: 0.5em;
    left: 0.3em;
  }
}

header h2 {
  margin-bottom: 0.5em;
}

header p {
  margin-bottom: 1em;
}

@media (width<=480px) {
  picture {
    margin-bottom: 1em;
  }
}

@media (width>480px) {
  header {
    margin-top: 9em;
    display: block;
  }

  .portrait {
    min-height: calc(50px + 20vw);
    width: 45%;
    float: left;
    display: grid;
    place-content: center;

    position: relative;

    transform-origin: bottom right;
    --scale-factor: 1.30;
    --inverse-scale-factor: calc(1 / var(--scale-factor));
    transform: scale(var(--scale-factor));
    h1 {
      --translate-coodrs: 0, 0;
      transform: scale(var(--inverse-scale-factor))
        translate(var(--translate-coodrs));
    }
  }

  .links {
    justify-content: flex-end;
  }
}

@media (480px < width <= 768px) {
  .portrait h1 {
    width: max-content;
    bottom: unset;
    left: unset;
    top: 0;
    right: 0;
    --translate-coodrs: 100%, -50%;
  }
}

@media (width>768px) {
  .portrait {
    width: 40%;
    height: 350px;
    transform-origin: right;
  }
}

@media (width>480px) {
  header {
    padding: 2em;
    background-color: #fff;
    box-shadow: var(--base-shadow);
  }
}

@media (width>768px) {
  header {
    h2 {
      text-align: left;
    }
  }
}
