header {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
}

header img {
  border-radius: 4px;
}

.portrait {
  margin: 0 1em;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  img {
    filter: brightness(0.8);
    box-shadow: var(--base-shadow);
  }

  h1 {
    font-size: 3rem;
    text-align: left;
    margin: 0.2em 0.3em;
    text-shadow:
      3px 2px 2px rgba(0, 0, 0, 0.2),
      3px 2px 1px rgba(0, 0, 0, 0.4);
    color: #fff;
    position: absolute;
    bottom: 0;
  }
}

header h2 {
  margin-top: 0.2em;
}

header p {
  text-align: left;
}
