@font-face {
  font-family: "playfair-display";
  src:
    url("@fonts/playfair-display.woff2") format("woff2"),
    url("@fonts/playfair-display.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "open-sans";
  src:
    url("@fonts/open-sans.woff2") format("woff2"),
    url("@fonts/open-sans.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

:root {
  --header-font: "playfair-display";
  --main-font: "open-sans";
  --main-font-color: #444;
  --shadow-color: 50 50 50;
  --base-shadow:
    1px 2px 2px hsl(var(--shadow-color) / 0.333),
    2px 4px 4px hsl(var(--shadow-color) / 0.333),
    3px 6px 6px hsl(var(--shadow-color) / 0.333);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
  font-weight: 400;
}

h2 {
  font-size: 2.2rem;
  text-align: center;
}

body {
  font-family: var(--main-font);
  font-size: 1.1rem;
}

p {
  color: var(--main-font-color);
}

.links {
  display: flex;
  justify-content: center;
  gap: 1em;
  img {
    width: 24px;
  }
}

/* Layout */
body {
  display: flex;
  flex-direction: column;
  padding: 1em;
  gap: 2em;
}
